@model SignupViewModel

<div id="mdlSignup" class="modal fade">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark text-light">
      <div class="modal-header">
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body">        
        <form id="frmSignup" asp-action="Signup" asp-controller="Account" method="post">
            @Html.AntiForgeryToken()
          <div class="row mx-0">
            <div class="col-12">
              <label asp-for="Email" class="form-label"></label>
              <input asp-for="Email" class="form-control" />
            </div>
          </div>
          <div class="row mx-0">
            <div class="col-12">
              <label asp-for="Password" class="form-label"></label>
              <input asp-for="Password" type="password" class="form-control" />
            </div>
          </div>
          <div class="row mx-0 justify-content-end mt-2">
            <div class="d-flex justify-content-end">
              <button class="btn btn-success" type="submit">Sign Up</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

